<!DOCTYPE html>
<html>
<head>
	<title>Digital Signage</title>
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/acms.css">
	<link rel="stylesheet" href="/css/acms-system.css">
</head>
<body>
	<script id="entryList" type="template">
		<table class="adminTable acms-table-admin acms-table-heading acms-table-hover">
		<tr>
			<th>サイネージ設定</th>
			<th colspan="6"><button id="js-setting" class="acms-btn-admin acms-float-right">変更</button></th>
		</tr>
		<tr>
			<th>eid</th>
			<th>タイトル</th>
			<th>割り込み表示</th>
			<th>表示順</th>
			<th>表示時間</th>
			<th>表示</th>
			<th>編集</th>
		</tr>
		<!-- BEGIN entry:loop -->
			<tr>
				<td>{entry_id}</td>
				<td>{entry_title}</td>
				<td>
				<button class="acms-btn-admin js-display" data-eid="{entry_id}" data-bid="{blog_id}">表示</button>
				</td>
				<td>
					<input class="js-sort" type="text" data-eid="{entry_id}" data-bid="{blog_id}">
				</td>
				<td>
					<input class="js-time" type="text" data-eid="{entry_id}" data-bid="{blog_id}">
				</td>
				<td><input class="js-checkbox" type="checkbox" data-eid="{entry_id}" data-bid="{blog_id}"></td>
				<td><a class="acms-btn-admin" href="http://{blog_domain}/bid/{blog_id}/eid/{entry_id}/admin/entry_editor/" target="_blank">編集</a></td>
			</tr>
		<!-- END entry:loop -->
		</table>
	</script>
	<div data-id="entryList"></div>
<script src="/js/jquery.js"></script>
<script src="/js/moon.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
var socketServer = location.host;
var url = "http://horicdesign.com/";
var area = ".cs-entry";
</script>
<script src="/js/signage.js"></script>
</body>
</html>